.background {
    background: url('/elec-store-background.jpg') no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    position: relative;
    min-height: 100vh;
    padding-top: 6em;
}
.contentW3ls {
    max-width: 500px;
    margin: 6em auto;
    margin-top: 0;
}

.authWindow {
    max-width: 500px;
    padding: 32px;
    background-color: white;
}
.authBottom {
    margin-bottom: 16px;
}
.tabs {
    position: relative;
}
.line {
    background: #00a153;
    height: 2px;
    position: absolute;
    transition: .5s ease;
}

/* copy paste start */
.selectedTab {
    color: #00a153;
    -webkit-transition: .1s ease;
    -o-transition: .1s ease;
    transition: .1s ease;
}

/* 1 tabs-item*/
.tabsItem {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    height: 46px;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0 16px;
    text-align: center;
}
/* 2 tabs-item */
.tabsItem{
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.labelLarge {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .1px;
    line-height: 143%;
}

.spacer {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.pointer {
    cursor: pointer;
}

.loginFields {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.field {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4px;
    height: 80px;
    width: 100%;
}

.bodySmall {
    font-size: .75rem;
    font-weight: 400;
    letter-spacing: .4px;
    line-height: 1rem;
}

.greyText {
    color: #23362d99;
}

.bodyMedium {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .25px;
    line-height: 143%;
}

input, textarea[data-v-75c0b037] {
    background: inherit;
    border: 1px solid var(--light);
    border-radius: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px;
    resize: none;
    width: 100%;
}

.loginForgot {
    margin-bottom: 16px;
}

.blueText {
    color: #2196f3;;
}

.filled {
    border: none;
    color: #fff;
}
/* copy paste end */