.path {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.article {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 1260px;
}
.productName {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.productContainer {
    max-width: 100%;
    margin-right: 16px;
}
.productBlock {
    background-color: #FFFFFF;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 20px;
}
.productBlock:last-child {
    margin-bottom: 0;
}

.priceBlock {
    max-width: 300px;
    background-color: #FFFFFF;
    padding: 16px;
    height: fit-content;
    position: sticky;
    top: 92px;
    border-radius: 12px;
}
.btnBlock {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    border-top: 1px solid #f4f4f4;
    border-radius: 4px;
}
.productInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}