.carousel-container {
    width: 100%;
    overflow: hidden;
}
.carousel {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    transition: transform 0.5s ease;
}
.slide {
    flex: 0 0 auto;
    width: 100%; /* Adjust according to your image size */
    display: none;
}
.active {
    /* Add styling to indicate active slide, for example: */
    display: block;
}

.small-block {
    border-radius: 4px;
    width: 48px;
    height: 36px;
    object-fit: cover;
    margin: 0 5px;
}
.small-img {
    border: 1px solid #f4f4f4;
}