.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.upperHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.lowerHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.leftDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leftLowerDiv {
    display: flex;
    flex-direction: row;
}
.rightLangDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.langButton {
    margin: 5px 5px;
    padding: 5px 12px;
    height: auto;
    align-items: center;
    text-align: center;
    /*align-self: stretch;*/
}
.langButton img {
    max-width: 100%;
    height: auto;
    margin-right: 3px;
    vertical-align: middle;
} 
.langButton span {
    vertical-align: middle;
    margin: 0;
}
.cityWindow {
    display: none;
}
.logo {
    width: 100px;
}
.container {
    display: flex;
    flex-direction: row; /* Sets main axis as horizontal */
    justify-content: space-between;
    align-items: center; /* Aligns items vertically */
    /* flex-wrap: wrap; // Uncomment this to enable wrapping */
  }
.iconDiv {
    position: relative;
    height: 24px;
    margin-bottom: 4px;
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    align-items: center;
    text-align: center
}