.containerBlock {
  max-width: 90%; /* Set a maximum width for the main container */
  margin: 0 auto; /* Center the main container */
  /*height: 35vh;*/ /* 35% of the viewport height */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 10px; /* Smaller space on the left and right */
}
.adBlock {
  max-width: 70%;
  aspect-ratio: 2540 / 1060/* original width / original height */;
  overflow: hidden;
}
.ad {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}
.goodBlock {
  overflow: hidden;
  max-width: 20%;
  background-color: #FFF;
  border-radius: 8px;
}
.goodImgBlock {
  max-width: 50%;
  aspect-ratio: 248 / 309/* original width / original height */;
  overflow: hidden;
  margin: auto auto;
}
.goodImg {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
}
.descriptionBlock {
  overflow: hidden;
  /*white-space: nowrap;*/
}
.description {
  /*text-overflow: ellipsis;*/
  overflow: hidden;
  /*white-space: nowrap;*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.centerButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.goodButton {
  width: 50%;
  align-items: center;
  text-align: center;
}





.chooseProduct {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1232px;
  padding-top: 10px;
}
.buttonSet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.buttonBlock {
  display: flex;
  align-items: center;
  text-align: center;
}
.categoryButton {
  
  padding: 10px 20px;
  border-radius: 16px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.buttonText {
  align-items: center;
  vertical-align: middle;
  text-align: center;
  margin: auto;
}



.clearDefaultA {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  cursor: auto;
  outline: none;
}
.gridProductBlock {
  display: flex;
  padding: 10px 0;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.productImg {
  width: 140px;
  height: 140px;
  margin: 0 auto;
}
.gridItemBlock {
  padding: 12px;
  border-radius: 8px;
  width: 180px;
  background-color: #FFF;
  align-items: center;
  text-align: center;
}
.imgBlock {
  margin: 0 auto;
  align-items: center;
  text-align: center;
}
.descriptionBlock {

}
.description {

}
.price {

}
.buyButtonBlock {

}





.benefits {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.benefitBlock {
  display: flex;
  flex-direction: row;
}
.benefitTextBlock {
  overflow: hidden;
}
.text {
  /*text-overflow: ellipsis;*/
  overflow: hidden;
  /*white-space: nowrap;*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}


.popularBarnds {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.brandsBlockList {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
.brandBlock {
  margin: auto;
}
.brandTextBlock {
  text-align: center;
  align-items: center;
}
.brandText {
  margin: auto;
}
.brandImg {
  width: 121px;
  height: auto;
}
