.path {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.article {
    display: flex;
    flex-direction: row;
    margin: auto auto;
    max-width: 1260px;
    justify-content: space-between;
}
.product-name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.product-block {
    max-width: 100%;
}
.price-block {
    max-width: 300px;
}
.btn-block {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    border-top: 1px solid #f4f4f4;
    border-radius: 4px;
}
.product-info {
    display: flex;
    flex-direction: row;
}
.description-header {
    color: #464c53;
    font-weight: 600;
}
.description-info {
    display: flex;
    flex-direction: column;
}
.description-item {
    display: flex;
    flex-direction: row;
}
.dot-div {
    width: 100%;
    /*flex: 1 0 auto;*/
    border-bottom: 2px dotted gray;
}