.path {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.article {
    display: flex;
    flex-direction: row;
    margin: auto auto;
    max-width: 1260px;
    justify-content: space-between;
}
.productName {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.productBlock {
    max-width: 100%;
}
.priceBlock {
    max-width: 300px;
}
.btnBlock {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    border-top: 1px solid #f4f4f4;
    border-radius: 4px;
}
.productInfo {
    display: flex;
    flex-direction: row;
}
.descriptionHeader {
    color: #464c53;
    font-weight: 600;
}
.descriptionInfo {
    display: flex;
    flex-direction: column;
}
.descriptionItem {
    display: flex;
    flex-direction: row;
}
.dotDiv {
    width: 100%;
    /*flex: 1 0 auto;*/
    border-bottom: 2px dotted gray;
}