
.catalog-main-div {
    display: grid;
    grid-template-columns: repeat(12,minmax(88px,1fr));
    grid-row-gap: 16px;
    row-gap: 16px;
    grid-column-gap: 16px;
    column-gap: 16px;
}

/*
.catalog-main-div {
    display: flex;
    flex-direction: column;
}
*/
.catalog-left-grid {
    display: block;
    max-height: none;
    grid-row: 1/2;
    grid-column: 1/4;
}
.catalog-right-grid {
    grid-row: 1/2;
    grid-column: 4/13;
}

/*
.catalog-right-grid {
    width: 100%;
}
*/